## Educational Process Mining

https://archive-beta.ics.uci.edu/dataset/346/educational+process+mining+epm+a+learning+analytics+data+set

Educational Process Mining (EPM): A Learning Analytics Data Set. (2015). UCI Machine Learning Repository.

Educational Process Mining data set consists of student activity and outcome data for an e-learning simulation course in digital electronics. The experiments were carried out with a group of 115 first-year, undergraduate Engineering major students of the University of Genoa. The simulation environment, called Deeds (Digital Electronics Education and Design Suite), provides learning materials through specialized browsers and asks students to solve various problems with different levels of difficulty. For more information about the Deeds simulator see http://www.esng.dibe.unige.it/deeds/.

I chose this application because I wanted to work with student-level education data. This dataset contains exercise and activity inputs and interim and final grade outcome data. It is likely that my research for the LIS PhD program would also involve student-level data. My goal for this project is to learn how to visulaize and analyze this kind of data, which is time series where each input record has a start and end time and represents the amount of time the student spent on the recorded exercise and activity.

I have worked with education data in the past, but it was school-level aggregated data: School Performance Profile scores. I have domain knowledge (graduate coursework in Education and a PA state teaching certificate). I have not researched how to work with this data. 

I believe the data provided with this project is sufficient to answer the following questions:

* What factors influence student outcomes for this course?
* Is there a linear relationship between the total time spent and/or the number of sessions/exercises/activities completed and student outcomes? 
* Can student outcomes be predicted from time spent and/or the number of sessions/exercises/activities completed?

This notebook reads in all data, evaluates variables, creates new input variables, renames variables to simply exploration and modeling, and outputs the data to CSV files.

There are 6 session folders with student input data and two excel files with intermediate and final grades. Each session folder contains separate data sets for each student who participated in that session, either partially or fully. Each student data file contains fields for the session and student ID so each of these files were read in and concatenated to form one inputs data set. 

There are 13 columns and 227129 rows in the concatenated input data:

* Four ID columns as type integer - `session` and `student_id`
* Four object columns, two should be dates - `exercise`, `activity`, `start_time`, and `end_time`
* Seven integer columns - `idle_time`, `mouse_wheel`, `mouse_wheel_click`, `mouse_click_left`, `mouse_click_right`, `mouse_movement`, and `keystoke`

There are 6 columns and 115 rows in the intermediate grades data:

* One ID column as type integer - `Student Id`
* Five float columns for sessions 2 through 6 intermediate grades

There are 18 columns and 62 rows in the final grades data:

* One ID column as type interger - `Student ID`
* Seventeen float columns - 16 for the individual test question values and one for the total score 

There are no missing data in the input, intermediate grades, or final grades data. However, not all students participated in all sessions, exercises, activities, and final assessment so records do not exist in these instances.

The new input variables include

* `total_ms` is the difference in milliseconds between `start_time` and `end_time`.
* `activity_group` is the activity name, the first portion of the activity variable value, which consists of an activity and an associated exercise. Activities are 'Other', 'Aulaweb', 'Blank', 'Deeds', 'Study', 'Properties','Diagram', 'TextEditor', 'Study_Materials', 'Fsm_Related', 'FSM'
* `activity_exercise` is the exercise portion of the activity variable value.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

### Load the input data from github repository

Not every student completed every session. Get the list of files (named as student number which ranges from 1 to 115) from the local data and create a list from the results. Remove the value '1' from filenames_s1 because it was already loaded.

In [2]:
#import os
#os_path = "/Users/lisaover/Documents/EPM Dataset 2/Data/Processes/Session 6"
#filenames = os.listdir(os_path)
#filenames2 = [int(i) for i in filenames]
#filenames2.sort()
#print(len(filenames2))
#print(filenames2)

In [3]:
filenames_s1 = [2, 4, 5, 7, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 28, 30, 32, 34, 36, 37, 38, 39, 42, 43, 44, 46, 47, 49, 51, 52, 53, 54, 55, 56, 59, 62, 63, 66, 67, 68, 70, 71, 73, 74, 76, 78, 79, 80, 81, 82, 85, 86, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 100, 101, 102, 104, 105, 108, 109, 110, 111, 112, 113, 114, 115]

In [4]:
filenames_s2 = [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 27, 28, 29, 30, 32, 34, 36, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 59, 61, 63, 66, 67, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 107]

In [5]:
filenames_s3 = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 59, 61, 63, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100, 101, 102, 105, 106, 107]

In [6]:
filenames_s4 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [7]:
filenames_s5 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 101, 102, 103, 104]

In [8]:
filenames_s6 = [1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24, 25, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 102, 104]

In [9]:
path = 'https://raw.githubusercontent.com/lisaover/CMPINF2120_project/main/EPM%20Dataset%202/Data/Processes/Session%20'

In [10]:
inputs_init = pd.read_csv(path + "1/1", header=None)
inputs_init.columns = ['session','student_id','exercise','activity',
              'start_time','end_time','idle_time','mouse_wheel',
              'mouse_wheel_click','mouse_click_left','mouse_click_right',
              'mouse_movement','keystroke']
record_tally = len(inputs_init)
print(str(len(inputs_init)) + " records for Session 1, student " + str(inputs_init.student_id[0]) + "; " + str(record_tally) + " total records")

591 records for Session 1, student 1; 591 total records

In [11]:
def load_data(file_list, session):
    global path
    global record_tally
    global inputs_init
    for i in range(0,len(file_list)-1):
        file = path + str(session) + "/" + str(file_list[i])
        data = pd.read_csv(file, header=None)
        df = pd.DataFrame(data)
        df.columns = ['session','student_id','exercise','activity',
                  'start_time','end_time','idle_time','mouse_wheel',
                  'mouse_wheel_click','mouse_click_left','mouse_click_right',
                  'mouse_movement','keystroke']
        inputs_init = pd.concat([inputs_init, df], axis = 0)
        record_tally = record_tally + len(df)
        print(str(len(df)) + " records for Session " + str(session) + ", student " + str(df.student_id[0]) + "; " + str(record_tally) + " total records")

In [12]:
load_data(filenames_s1, 1)
load_data(filenames_s2, 2)
load_data(filenames_s3, 3)
load_data(filenames_s4, 4)
load_data(filenames_s5, 5)
load_data(filenames_s6, 6)

226 records for Session 1, student 2; 817 total records
574 records for Session 1, student 4; 1391 total records
567 records for Session 1, student 5; 1958 total records
325 records for Session 1, student 7; 2283 total records
507 records for Session 1, student 9; 2790 total records
354 records for Session 1, student 10; 3144 total records
457 records for Session 1, student 11; 3601 total records
697 records for Session 1, student 12; 4298 total records
380 records for Session 1, student 14; 4678 total records
485 records for Session 1, student 15; 5163 total records
184 records for Session 1, student 17; 5347 total records
191 records for Session 1, student 19; 5538 total records
543 records for Session 1, student 20; 6081 total records
351 records for Session 1, student 21; 6432 total records
423 records for Session 1, student 22; 6855 total records
353 records for Session 1, student 28; 7208 total records
599 records for Session 1, student 30; 7807 total records
600 records for Session 1, student 32; 8407 total records
254 records for Session 1, student 34; 8661 total records
321 records for Session 1, student 36; 8982 total records
314 records for Session 1, student 37; 9296 total records
281 records for Session 1, student 38; 9577 total records
447 records for Session 1, student 39; 10024 total records
525 records for Session 1, student 42; 10549 total records
378 records for Session 1, student 43; 10927 total records
417 records for Session 1, student 44; 11344 total records
580 records for Session 1, student 46; 11924 total records
505 records for Session 1, student 47; 12429 total records
347 records for Session 1, student 49; 12776 total records
461 records for Session 1, student 51; 13237 total records
500 records for Session 1, student 52; 13737 total records
580 records for Session 1, student 53; 14317 total records
329 records for Session 1, student 54; 14646 total records
748 records for Session 1, student 55; 15394 total records
539 records for Session 1, student 56; 15933 total records
418 records for Session 1, student 59; 16351 total records
480 records for Session 1, student 62; 16831 total records
583 records for Session 1, student 63; 17414 total records
419 records for Session 1, student 66; 17833 total records
258 records for Session 1, student 67; 18091 total records
356 records for Session 1, student 68; 18447 total records
424 records for Session 1, student 70; 18871 total records
302 records for Session 1, student 71; 19173 total records
364 records for Session 1, student 73; 19537 total records
732 records for Session 1, student 74; 20269 total records
420 records for Session 1, student 76; 20689 total records
243 records for Session 1, student 78; 20932 total records
465 records for Session 1, student 79; 21397 total records
238 records for Session 1, student 80; 21635 total records
344 records for Session 1, student 81; 21979 total records
555 records for Session 1, student 82; 22534 total records
333 records for Session 1, student 85; 22867 total records
365 records for Session 1, student 86; 23232 total records
290 records for Session 1, student 87; 23522 total records
429 records for Session 1, student 88; 23951 total records
388 records for Session 1, student 90; 24339 total records
507 records for Session 1, student 91; 24846 total records
411 records for Session 1, student 92; 25257 total records
388 records for Session 1, student 93; 25645 total records
645 records for Session 1, student 94; 26290 total records
507 records for Session 1, student 96; 26797 total records
301 records for Session 1, student 97; 27098 total records
356 records for Session 1, student 98; 27454 total records
815 records for Session 1, student 100; 28269 total records
400 records for Session 1, student 101; 28669 total records
667 records for Session 1, student 102; 29336 total records
307 records for Session 1, student 104; 29643 total records
337 records for Session 1, student 105; 29980 total records
469 records for Session 1, student 108; 30449 total records
995 records for Session 1, student 109; 31444 total records
386 records for Session 1, student 110; 31830 total records
477 records for Session 1, student 111; 32307 total records
357 records for Session 1, student 112; 32664 total records
547 records for Session 1, student 113; 33211 total records
632 records for Session 1, student 114; 33843 total records
502 records for Session 2, student 1; 34345 total records
348 records for Session 2, student 2; 34693 total records
571 records for Session 2, student 3; 35264 total records
748 records for Session 2, student 4; 36012 total records
607 records for Session 2, student 5; 36619 total records
549 records for Session 2, student 6; 37168 total records
472 records for Session 2, student 7; 37640 total records
336 records for Session 2, student 8; 37976 total records
569 records for Session 2, student 10; 38545 total records
570 records for Session 2, student 11; 39115 total records
571 records for Session 2, student 12; 39686 total records
425 records for Session 2, student 14; 40111 total records
359 records for Session 2, student 15; 40470 total records
460 records for Session 2, student 16; 40930 total records
366 records for Session 2, student 17; 41296 total records
396 records for Session 2, student 18; 41692 total records
638 records for Session 2, student 19; 42330 total records
501 records for Session 2, student 20; 42831 total records
599 records for Session 2, student 21; 43430 total records
445 records for Session 2, student 22; 43875 total records
483 records for Session 2, student 24; 44358 total records
317 records for Session 2, student 27; 44675 total records
428 records for Session 2, student 28; 45103 total records
614 records for Session 2, student 29; 45717 total records
353 records for Session 2, student 30; 46070 total records
661 records for Session 2, student 32; 46731 total records
331 records for Session 2, student 34; 47062 total records
369 records for Session 2, student 36; 47431 total records
212 records for Session 2, student 38; 47643 total records
486 records for Session 2, student 39; 48129 total records
467 records for Session 2, student 41; 48596 total records
429 records for Session 2, student 42; 49025 total records
356 records for Session 2, student 43; 49381 total records
649 records for Session 2, student 44; 50030 total records
404 records for Session 2, student 46; 50434 total records
516 records for Session 2, student 47; 50950 total records
369 records for Session 2, student 48; 51319 total records
568 records for Session 2, student 49; 51887 total records
376 records for Session 2, student 50; 52263 total records
724 records for Session 2, student 51; 52987 total records
516 records for Session 2, student 52; 53503 total records
485 records for Session 2, student 53; 53988 total records
358 records for Session 2, student 54; 54346 total records
510 records for Session 2, student 56; 54856 total records
446 records for Session 2, student 59; 55302 total records
647 records for Session 2, student 61; 55949 total records
478 records for Session 2, student 63; 56427 total records
882 records for Session 2, student 66; 57309 total records
690 records for Session 2, student 67; 57999 total records
505 records for Session 2, student 70; 58504 total records
465 records for Session 2, student 71; 58969 total records
726 records for Session 2, student 72; 59695 total records
386 records for Session 2, student 73; 60081 total records
756 records for Session 2, student 74; 60837 total records
437 records for Session 2, student 76; 61274 total records
431 records for Session 2, student 78; 61705 total records
423 records for Session 2, student 79; 62128 total records
250 records for Session 2, student 80; 62378 total records
445 records for Session 2, student 81; 62823 total records
538 records for Session 2, student 82; 63361 total records
538 records for Session 2, student 83; 63899 total records
169 records for Session 2, student 84; 64068 total records
433 records for Session 2, student 85; 64501 total records
597 records for Session 2, student 86; 65098 total records
399 records for Session 2, student 87; 65497 total records
494 records for Session 2, student 88; 65991 total records
428 records for Session 2, student 90; 66419 total records
417 records for Session 2, student 91; 66836 total records
489 records for Session 2, student 92; 67325 total records
336 records for Session 2, student 93; 67661 total records
615 records for Session 2, student 94; 68276 total records
660 records for Session 2, student 95; 68936 total records
485 records for Session 2, student 96; 69421 total records
416 records for Session 2, student 97; 69837 total records
87 records for Session 2, student 98; 69924 total records
346 records for Session 2, student 99; 70270 total records
540 records for Session 2, student 100; 70810 total records
439 records for Session 2, student 101; 71249 total records
624 records for Session 2, student 102; 71873 total records
481 records for Session 2, student 103; 72354 total records
411 records for Session 2, student 104; 72765 total records
261 records for Session 3, student 2; 73026 total records
541 records for Session 3, student 3; 73567 total records
535 records for Session 3, student 4; 74102 total records
341 records for Session 3, student 5; 74443 total records
425 records for Session 3, student 6; 74868 total records
258 records for Session 3, student 7; 75126 total records
247 records for Session 3, student 8; 75373 total records
386 records for Session 3, student 9; 75759 total records
549 records for Session 3, student 10; 76308 total records
315 records for Session 3, student 11; 76623 total records
368 records for Session 3, student 12; 76991 total records
321 records for Session 3, student 14; 77312 total records
409 records for Session 3, student 15; 77721 total records
323 records for Session 3, student 16; 78044 total records
345 records for Session 3, student 17; 78389 total records
274 records for Session 3, student 18; 78663 total records
233 records for Session 3, student 19; 78896 total records
564 records for Session 3, student 20; 79460 total records
232 records for Session 3, student 23; 79692 total records
352 records for Session 3, student 24; 80044 total records
520 records for Session 3, student 25; 80564 total records
228 records for Session 3, student 27; 80792 total records
350 records for Session 3, student 28; 81142 total records
341 records for Session 3, student 29; 81483 total records
402 records for Session 3, student 30; 81885 total records
206 records for Session 3, student 31; 82091 total records
392 records for Session 3, student 32; 82483 total records
285 records for Session 3, student 34; 82768 total records
233 records for Session 3, student 35; 83001 total records
295 records for Session 3, student 36; 83296 total records
152 records for Session 3, student 38; 83448 total records
397 records for Session 3, student 39; 83845 total records
295 records for Session 3, student 41; 84140 total records
234 records for Session 3, student 42; 84374 total records
159 records for Session 3, student 43; 84533 total records
491 records for Session 3, student 44; 85024 total records
87 records for Session 3, student 45; 85111 total records
338 records for Session 3, student 47; 85449 total records
219 records for Session 3, student 48; 85668 total records
647 records for Session 3, student 49; 86315 total records
188 records for Session 3, student 50; 86503 total records
379 records for Session 3, student 51; 86882 total records
402 records for Session 3, student 52; 87284 total records
413 records for Session 3, student 53; 87697 total records
285 records for Session 3, student 54; 87982 total records
385 records for Session 3, student 55; 88367 total records
231 records for Session 3, student 56; 88598 total records
359 records for Session 3, student 59; 88957 total records
448 records for Session 3, student 61; 89405 total records
312 records for Session 3, student 63; 89717 total records
255 records for Session 3, student 66; 89972 total records
379 records for Session 3, student 67; 90351 total records
496 records for Session 3, student 68; 90847 total records
223 records for Session 3, student 69; 91070 total records
393 records for Session 3, student 70; 91463 total records
531 records for Session 3, student 72; 91994 total records
411 records for Session 3, student 73; 92405 total records
351 records for Session 3, student 74; 92756 total records
295 records for Session 3, student 75; 93051 total records
468 records for Session 3, student 76; 93519 total records
312 records for Session 3, student 78; 93831 total records
251 records for Session 3, student 79; 94082 total records
151 records for Session 3, student 80; 94233 total records
319 records for Session 3, student 81; 94552 total records
322 records for Session 3, student 82; 94874 total records
336 records for Session 3, student 83; 95210 total records
209 records for Session 3, student 84; 95419 total records
375 records for Session 3, student 85; 95794 total records
458 records for Session 3, student 86; 96252 total records
312 records for Session 3, student 87; 96564 total records
326 records for Session 3, student 88; 96890 total records
123 records for Session 3, student 89; 97013 total records
297 records for Session 3, student 90; 97310 total records
462 records for Session 3, student 91; 97772 total records
224 records for Session 3, student 92; 97996 total records
334 records for Session 3, student 93; 98330 total records
463 records for Session 3, student 94; 98793 total records
298 records for Session 3, student 95; 99091 total records
271 records for Session 3, student 97; 99362 total records
251 records for Session 3, student 98; 99613 total records
370 records for Session 3, student 99; 99983 total records
452 records for Session 3, student 100; 100435 total records
191 records for Session 3, student 101; 100626 total records
312 records for Session 3, student 102; 100938 total records
126 records for Session 3, student 105; 101064 total records
392 records for Session 3, student 106; 101456 total records
522 records for Session 4, student 1; 101978 total records
348 records for Session 4, student 2; 102326 total records
603 records for Session 4, student 3; 102929 total records
463 records for Session 4, student 4; 103392 total records
319 records for Session 4, student 5; 103711 total records
643 records for Session 4, student 6; 104354 total records
246 records for Session 4, student 7; 104600 total records
401 records for Session 4, student 8; 105001 total records
405 records for Session 4, student 9; 105406 total records
610 records for Session 4, student 10; 106016 total records
360 records for Session 4, student 11; 106376 total records
363 records for Session 4, student 12; 106739 total records
318 records for Session 4, student 13; 107057 total records
348 records for Session 4, student 14; 107405 total records
344 records for Session 4, student 15; 107749 total records
370 records for Session 4, student 16; 108119 total records
336 records for Session 4, student 17; 108455 total records
341 records for Session 4, student 18; 108796 total records
400 records for Session 4, student 19; 109196 total records
572 records for Session 4, student 20; 109768 total records
320 records for Session 4, student 21; 110088 total records
389 records for Session 4, student 22; 110477 total records
272 records for Session 4, student 23; 110749 total records
374 records for Session 4, student 24; 111123 total records
421 records for Session 4, student 25; 111544 total records
253 records for Session 4, student 26; 111797 total records
181 records for Session 4, student 27; 111978 total records
393 records for Session 4, student 28; 112371 total records
621 records for Session 4, student 29; 112992 total records
395 records for Session 4, student 30; 113387 total records
345 records for Session 4, student 31; 113732 total records
417 records for Session 4, student 32; 114149 total records
290 records for Session 4, student 33; 114439 total records
494 records for Session 4, student 34; 114933 total records
534 records for Session 4, student 35; 115467 total records
348 records for Session 4, student 36; 115815 total records
339 records for Session 4, student 37; 116154 total records
214 records for Session 4, student 38; 116368 total records
551 records for Session 4, student 39; 116919 total records
350 records for Session 4, student 40; 117269 total records
385 records for Session 4, student 41; 117654 total records
590 records for Session 4, student 42; 118244 total records
328 records for Session 4, student 43; 118572 total records
628 records for Session 4, student 44; 119200 total records
243 records for Session 4, student 45; 119443 total records
472 records for Session 4, student 46; 119915 total records
496 records for Session 4, student 47; 120411 total records
339 records for Session 4, student 48; 120750 total records
342 records for Session 4, student 49; 121092 total records
351 records for Session 4, student 50; 121443 total records
397 records for Session 4, student 51; 121840 total records
277 records for Session 4, student 52; 122117 total records
393 records for Session 4, student 53; 122510 total records
287 records for Session 4, student 54; 122797 total records
427 records for Session 4, student 55; 123224 total records
547 records for Session 4, student 56; 123771 total records
366 records for Session 4, student 57; 124137 total records
399 records for Session 4, student 58; 124536 total records
318 records for Session 4, student 59; 124854 total records
532 records for Session 4, student 60; 125386 total records
426 records for Session 4, student 61; 125812 total records
282 records for Session 4, student 62; 126094 total records
603 records for Session 4, student 63; 126697 total records
405 records for Session 4, student 64; 127102 total records
596 records for Session 4, student 65; 127698 total records
179 records for Session 4, student 66; 127877 total records
344 records for Session 4, student 67; 128221 total records
365 records for Session 4, student 68; 128586 total records
339 records for Session 4, student 69; 128925 total records
510 records for Session 4, student 70; 129435 total records
302 records for Session 4, student 71; 129737 total records
399 records for Session 4, student 72; 130136 total records
281 records for Session 4, student 73; 130417 total records
833 records for Session 4, student 74; 131250 total records
351 records for Session 4, student 75; 131601 total records
667 records for Session 4, student 76; 132268 total records
342 records for Session 4, student 77; 132610 total records
382 records for Session 4, student 78; 132992 total records
333 records for Session 4, student 79; 133325 total records
416 records for Session 4, student 80; 133741 total records
304 records for Session 4, student 81; 134045 total records
584 records for Session 4, student 82; 134629 total records
383 records for Session 4, student 83; 135012 total records
427 records for Session 4, student 84; 135439 total records
379 records for Session 4, student 85; 135818 total records
305 records for Session 4, student 86; 136123 total records
446 records for Session 4, student 87; 136569 total records
474 records for Session 4, student 88; 137043 total records
581 records for Session 4, student 89; 137624 total records
362 records for Session 4, student 90; 137986 total records
298 records for Session 4, student 91; 138284 total records
219 records for Session 4, student 92; 138503 total records
291 records for Session 4, student 93; 138794 total records
356 records for Session 4, student 94; 139150 total records
423 records for Session 4, student 95; 139573 total records

In [13]:
inputs_init.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227129 entries, 0 to 644
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   session            227129 non-null  int64
 1   student_id         227129 non-null  int64
 2   exercise           227129 non-null  object
 3   activity           227129 non-null  object
 4   start_time         227129 non-null  object
 5   end_time           227129 non-null  object
 6   idle_time          227129 non-null  int64
 7   mouse_wheel        227129 non-null  int64
 8   mouse_wheel_click  227129 non-null  int64
 9   mouse_click_left   227129 non-null  int64
 10  mouse_click_right  227129 non-null  int64
 11  mouse_movement     227129 non-null  int64
 12  keystroke          227129 non-null  int64
dtypes: int64(9), object(4)
memory usage: 24.3+ MB

In [14]:
inputs_init.shape

(227129, 13)

There are 13 columns:

* Four ID columns as type integer - session and student_id
* Four object columns, two should be dates - exercise, activity, start_time, and end_time
* Seven integer columns - idle_time, mouse_wheel, mouse_wheel_click, mouse_click_left, mouse_click_right, mouse_movement, and keystoke

There are no missing data.

In [15]:
inputs_df = inputs_init.copy()

#### Convert IDs and object variables to categorical type

In [16]:
inputs_df.session =  inputs_df.session.astype('object')
inputs_df.student_id =  inputs_df.student_id.astype('object')

In [17]:
inputs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227129 entries, 0 to 644
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   session            227129 non-null  object
 1   student_id         227129 non-null  object
 2   exercise           227129 non-null  object
 3   activity           227129 non-null  object
 4   start_time         227129 non-null  object
 5   end_time           227129 non-null  object
 6   idle_time          227129 non-null  int64
 7   mouse_wheel        227129 non-null  int64
 8   mouse_wheel_click  227129 non-null  int64
 9   mouse_click_left   227129 non-null  int64
 10  mouse_click_right  227129 non-null  int64
 11  mouse_movement     227129 non-null  int64
 12  keystroke          227129 non-null  int64
dtypes: int64(7), object(6)
memory usage: 24.3+ MB

In [18]:
inputs_df.isna().sum()

session              0
student_id           0
exercise             0
activity             0
start_time           0
end_time             0
idle_time            0
mouse_wheel          0
mouse_wheel_click    0
mouse_click_left     0
mouse_click_right    0
mouse_movement       0
keystroke            0
dtype: int64

In [19]:
inputs_df.session.nunique()

6

In [20]:
inputs_df.session.unique()

array([1, 2, 3, 4, 5, 6], dtype=object)

In [21]:
inputs_df.student_id.nunique()

113

In [22]:
inputs_df.student_id.unique()

array([1, 2, 4, 5, 7, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 28, 30,
       32, 34, 36, 37, 38, 39, 42, 43, 44, 46, 47, 49, 51, 52, 53, 54, 55,
       56, 59, 62, 63, 66, 67, 68, 70, 71, 73, 74, 76, 78, 79, 80, 81, 82,
       85, 86, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 100, 101, 102, 104,
       105, 108, 109, 110, 111, 112, 113, 114, 3, 6, 8, 16, 18, 24, 27,
       29, 41, 48, 50, 61, 72, 83, 84, 95, 99, 103, 23, 25, 31, 35, 45,
       69, 75, 89, 106, 13, 26, 33, 40, 57, 58, 60, 64, 65, 77],
      dtype=object)

In [23]:
inputs_df.exercise.nunique()

30

In [24]:
inputs_df.exercise.unique()

array([' Es', ' Es_1_1', ' Es_1_2', ' Es_1_4', ' Es_1_3', ' Es_2_1',
       ' Es_2_2', ' Es_2_3', ' Es_2_4', ' Es_2_5', ' Es_2_6', ' Es_3_1',
       ' Es_3_2', ' Es_3_3', ' Es_3_4', ' Es_4_1', ' Es_4_2', ' Es_4_3',
       ' Es_4_4', ' Es_4_5', ' Es_5_2', ' Es_5_1', ' Es_5_3', ' Es_5_4',
       ' Es_6_1', ' Es_6_2', ' Es_6_3', ' Es_6_4', ' Es_6_6', ' Es_6_5'],
      dtype=object)

In [25]:
inputs_df['exercise'] = inputs_df['exercise'].str.strip()

In [26]:
inputs_df.activity.nunique()

99

In [27]:
inputs_df.activity.unique()

array([' Other', ' Aulaweb', ' Blank', ' Deeds', ' Study_Es_1_1',
       ' Deeds_Es_1_1', ' Properties', ' Diagram', ' Study_Es_1_2',
       ' Study_Es_1_4', ' TextEditor', ' TextEditor_Es_3_1',
       ' Deeds_Es_1_2', ' TextEditor_Es_1_2', ' TextEditor_Es_1_1',
       ' Study_Es_1_3', ' Deeds_Es_1_3', ' TextEditor_Es_1_3',
       ' Deeds_Es_1_4', ' TextEditor_Es_1_4', ' TextEditor_Es',
       ' Deeds_Es', ' Study_Materials', ' TextEditor_Es_4_1',
       ' Fsm_Related', ' TextEditor_Es_4_2', ' TextEditor_Es_4_3',
       ' TextEditor_Es_4_4', ' Study_Es_2_1', ' Deeds_Es_2_1',
       ' TextEditor_Es_2_1', ' Study_Es_2_2', ' Deeds_Es_2_2',
       ' TextEditor_Es_2_2', ' Study_Es_2_3', ' Deeds_Es_2_3',
       ' TextEditor_Es_2_3', ' Study_Es_2_4', ' TextEditor_Es_2_4',
       ' Deeds_Es_2_4', ' Study_Es_2_5', ' TextEditor_Es_2_5',
       ' Deeds_Es_2_5', ' Study_Es_2_6', ' TextEditor_Es_2_6',
       ' Deeds_Es_2_6', ' TextEditor_Es_3_2', ' TextEditor_Es_3_3',
       ' TextEditor_Es_3_4', ' TextEditor_Es_4_5', ' Study_Es_3_1',
       ' Deeds_Es_3_1', ' Study_Es_3_2', ' Deeds_Es_3_2', ' Study_Es_3_3',
       ' Deeds_Es_3_3', ' Study_Es_3_4', ' Deeds_Es_3_4', ' Study_Es_4_1',
       ' Study_Es_4_2', ' Study_Es_4_3', ' Study_Es_4_4', ' Deeds_Es_4_1',
       ' Deeds_Es_4_2', ' Deeds_Es_4_3', ' Deeds_Es_4_4', ' Deeds_Es_4_5',
       ' Study_Es_4_5', ' TextEditor_Es_5_2', ' TextEditor_Es_5_1',
       ' Study_Es_5_2', ' Deeds_Es_5_1', ' Study_Es_5_1', ' Deeds_Es_5_2',
       ' Study_Es_5_3', ' TextEditor_Es_5_3', ' Deeds_Es_5_3',
       ' Study_Es_5_4', ' Deeds_Es_5_4', ' TextEditor_Es_5_4',
       ' FSM_Es_6_1', ' Study_Es_6_1', ' FSM_Related',
       ' TextEditor_Es_6_1', ' Deeds_Es_6_1', ' Study_Es_6_2',
       ' TextEditor_Es_6_2', ' FSM_Es_6_2', ' Deeds_Es_6_2',
       ' Study_Es_6_3', ' TextEditor_Es_6_3', ' FSM_Es_6_3',
       ' Study_Es_6_4', ' Study_Es_6_6', ' Study_Es_6_5',
       ' TextEditor_Es_6_4', ' FSM_Es_6_4', ' TextEditor_Es_6_6',
       ' TextEditor_Es_6_5'], dtype=object)

In [28]:
inputs_df['activity'] = inputs_df['activity'].str.strip()

In [29]:
inputs_df.mouse_wheel.nunique()

460

In [30]:
inputs_df.mouse_wheel_click.nunique()

17

In [31]:
inputs_df.mouse_click_left.nunique()

394

In [32]:
inputs_df.mouse_click_right.nunique()

75

In [33]:
inputs_df.mouse_movement.nunique()

6221

In [34]:
inputs_df.keystroke.nunique()

808

#### Create column for total time between start and end times in milliseconds

This is to be consistent with variable `idle_time`, which is the idle time in milliseconds.

In [35]:
inputs_df['start_time'] = pd.to_datetime(inputs_df['start_time'])

In [36]:
inputs_df['end_time'] = pd.to_datetime(inputs_df['end_time'])

In [37]:
inputs_df['time_delta'] = inputs_df['end_time'] - inputs_df['start_time']

In [38]:
inputs_df['total_ms'] = inputs_df['time_delta'].dt.total_seconds() * 1000

In [39]:
inputs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227129 entries, 0 to 644
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   session            227129 non-null  object
 1   student_id         227129 non-null  object
 2   exercise           227129 non-null  object
 3   activity           227129 non-null  object
 4   start_time         227129 non-null  datetime64[ns]
 5   end_time           227129 non-null  datetime64[ns]
 6   idle_time          227129 non-null  int64
 7   mouse_wheel        227129 non-null  int64
 8   mouse_wheel_click  227129 non-null  int64
 9   mouse_click_left   227129 non-null  int64
 10  mouse_click_right  227129 non-null  int64
 11  mouse_movement     227129 non-null  int64
 12  keystroke          227129 non-null  int64
 13  time_delta         227129 non-null  timedelta64[ns]
 14  total_ms           227129 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(7), object(4), timedelta64[ns](1)
memory usage: 27.7+ MB

#### Activity key

* Es: Exercise
* #: Number
* Deeds: Digital Electronics Education and Design Suite
* Diagram: Simulation Timing Diagram
* FSM: Finite State Machine Simulator

#### Split activity group from the exercise

In [40]:
inputs_df['activity'] = inputs_df['activity'].str.strip()

In [41]:
inputs_df[['activity_group','activity_exercise']] = inputs_df.activity.str.split( '_Es', expand=True )

In [42]:
inputs_df.activity_group.unique()

array(['Other', 'Aulaweb', 'Blank', 'Deeds', 'Study', 'Properties',
       'Diagram', 'TextEditor', 'Study_Materials', 'Fsm_Related', 'FSM',
       'FSM_Related'], dtype=object)

In [43]:
inputs_df['activity_group'] = inputs_df['activity_group'].str.strip()

In [44]:
inputs_df.activity_group.unique()

array(['Other', 'Aulaweb', 'Blank', 'Deeds', 'Study', 'Properties',
       'Diagram', 'TextEditor', 'Study_Materials', 'Fsm_Related', 'FSM',
       'FSM_Related'], dtype=object)

In [45]:
inputs_df['activity_exercise'] = inputs_df['activity_exercise'].str.replace("_", "Es_", 1)

In [46]:
inputs_df['activity_exercise'] = inputs_df['activity_exercise'].str.strip()

In [47]:
inputs_df.activity_exercise.unique()

array([None, 'Es_1_1', 'Es_1_2', 'Es_1_4', 'Es_3_1', 'Es_1_3', '',
       'Es_4_1', 'Es_4_2', 'Es_4_3', 'Es_4_4', 'Es_2_1', 'Es_2_2',
       'Es_2_3', 'Es_2_4', 'Es_2_5', 'Es_2_6', 'Es_3_2', 'Es_3_3',
       'Es_3_4', 'Es_4_5', 'Es_5_2', 'Es_5_1', 'Es_5_3', 'Es_5_4',
       'Es_6_1', 'Es_6_2', 'Es_6_3', 'Es_6_4', 'Es_6_6', 'Es_6_5'],
      dtype=object)

#### Check if `act_ex == exercise` for every row, and if so, delete `act_ex`. Otherwise keep `act_ex`.

In [48]:
activity_chk = inputs_df.copy()

In [49]:
activity_chk['chk_sum'] = np.where((activity_chk['exercise'] != activity_chk['activity_exercise']) & ~(activity_chk['activity_exercise'].isna()) & ~(activity_chk['activity_exercise'] == ''), 1, 0)

In [50]:
activity_chk.chk_sum.sum()

328

In [51]:
activity_chk.loc[activity_chk.chk_sum == 1]

,session,student_id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke,time_delta,total_ms,activity_group,activity_exercise,chk_sum
87,1,1,Es_1_1,TextEditor_Es_3_1,2014-02-10 11:58:18,2014-02-10 11:58:59,225830,5,0,20,4,1250,22,0 days 00:00:41,41000.0,TextEditor,Es_3_1,1
89,1,1,Es_1_1,TextEditor_Es_3_1,2014-02-10 11:59:04,2014-02-10 11:59:21,7357,0,0,8,0,1063,106,0 days 00:00:17,17000.0,TextEditor,Es_3_1,1
91,1,1,Es_1_1,TextEditor_Es_3_1,2014-02-10 11:59:33,2014-02-10 12:00:06,12660,5,0,48,0,2002,22,0 days 00:00:33,33000.0,TextEditor,Es_3_1,1
93,1,1,Es_1_1,TextEditor_Es_3_1,2014-02-10 12:00:14,2014-02-10 12:00:25,9681,0,0,10,0,375,18,0 days 00:00:11,11000.0,TextEditor,Es_3_1,1
103,1,1,Es_1_2,TextEditor_Es_3_1,2014-02-10 12:01:42,2014-02-10 12:01:42,0,0,0,2,0,48,0,0 days 00:00:00,0.0,TextEditor,Es_3_1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,6,89,Es_6_1,TextEditor_Es_3_1,2014-11-12 12:29:35,2014-11-12 12:29:36,282,0,0,2,0,50,0,0 days 00:00:01,1000.0,TextEditor,Es_3_1,1
129,6,89,Es_6_1,TextEditor_Es_3_1,2014-11-12 12:35:51,2014-11-12 12:37:23,4077151,0,0,1,0,75,0,0 days 00:01:32,92000.0,TextEditor,Es_3_1,1
132,6,89,Es_6_1,TextEditor_Es_3_1,2014-11-12 12:38:16,2014-11-12 12:38:17,16,0,0,2,0,42,0,0 days 00:00:01,1000.0,TextEditor,Es_3_1,1
146,6,89,Es_6_1,TextEditor_Es_3_1,2014-11-12 12:43:25,2014-11-12 12:44:03,672476,0,0,2,0,58,0,0 days 00:00:38,38000.0,TextEditor,Es_3_1,1
161,6,89,Es_6_1,TextEditor_Es_3_1,2014-11-12 12:46:30,2014-11-12 12:48:21,6058802,0,0,2,0,87,0,0 days 00:01:51,111000.0,TextEditor,Es_3_1,1

In [52]:
activity_chk.loc[activity_chk['activity_group'] == 'TextEditor'].shape

(41900, 18)

#### Delete `activity` column from inputs_df. Keep `activity_grp` and `activity_ex` as replacement (328 rows have `activity_ex` that is not equal to `exercise`).

In [53]:
inputs_out = inputs_df[['session', 'student_id', 'exercise','activity','activity_group', 
       'activity_exercise', 'start_time', 'end_time', 'total_ms', 'idle_time',
       'mouse_wheel', 'mouse_wheel_click', 'mouse_click_left', 'mouse_click_right', 
       'mouse_movement', 'keystroke']].\
       rename(columns={'session': 'sess', 'student_id': 'sid', 'exercise': 'exer', 'activity': 'actv', 
       'activity_group': 'actv_grp', 'activity_exercise': 'actv_exer', 'start_time': 'start_dt', 
       'end_time': 'end_dt', 'idle_time': 'idle_ms', 'mouse_wheel': 'mw', 'mouse_wheel_click': 'mwc', 
       'mouse_click_left': 'mcl', 'mouse_click_right': 'mcr', 'mouse_movement': 'mm', 'keystroke': 'ks' }).\
       copy()

In [54]:
inputs_out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227129 entries, 0 to 644
Data columns (total 16 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   sess       227129 non-null  object
 1   sid        227129 non-null  object
 2   exer       227129 non-null  object
 3   actv       227129 non-null  object
 4   actv_grp   227129 non-null  object
 5   actv_exer  112679 non-null  object
 6   start_dt   227129 non-null  datetime64[ns]
 7   end_dt     227129 non-null  datetime64[ns]
 8   total_ms   227129 non-null  float64
 9   idle_ms    227129 non-null  int64
 10  mw         227129 non-null  int64
 11  mwc        227129 non-null  int64
 12  mcl        227129 non-null  int64
 13  mcr        227129 non-null  int64
 14  mm         227129 non-null  int64
 15  ks         227129 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(7), object(6)
memory usage: 29.5+ MB

In [55]:
inputs_out.to_csv('inputs_df.csv', index=False)

### Load the intermediate output data from github repository

In [56]:
interim_path = 'https://raw.githubusercontent.com/lisaover/CMPINF2120_project/main/EPM%20Dataset%202/Data/intermediate_grades.csv'

In [57]:
interim_init = pd.read_csv(interim_path)

In [58]:
interim_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student Id  115 non-null    int64
 1   Session 2   115 non-null    float64
 2   Session 3   115 non-null    float64
 3   Session 4   115 non-null    float64
 4   Session 5   115 non-null    float64
 5   Session 6   115 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 5.5 KB

In [59]:
interim_init.isna().sum()

Student Id    0
Session 2     0
Session 3     0
Session 4     0
Session 5     0
Session 6     0
dtype: int64

In [60]:
interim_df = interim_init.copy()

#### Melt the dataset and clean up the variable names

In [61]:
interim_df.columns

Index(['Student Id', 'Session 2', 'Session 3', 'Session 4', 'Session 5',
       'Session 6'],
      dtype='object')

In [62]:
interim_lf = interim_df.melt( id_vars=['Student Id'] ).copy()

In [63]:
interim_lf

     Student Id   variable  value
0             1  Session 2    5.0
1             2  Session 2    4.0
2             3  Session 2    3.5
3             4  Session 2    6.0
4             5  Session 2    5.0
..          ...        ...    ...
570         111  Session 6    0.0
571         112  Session 6    0.0
572         113  Session 6    0.0
573         114  Session 6    0.0
574         115  Session 6    0.0

[575 rows x 3 columns]

In [64]:
interim_lf.variable.unique()

array(['Session 2', 'Session 3', 'Session 4', 'Session 5', 'Session 6'],
      dtype=object)

In [65]:
interim_lf['variable'] = interim_lf['variable'].str.replace("Session", "interim", regex=True)

In [66]:
interim_lf['variable'] = interim_lf['variable'].str.replace("[ ]", "_scr", regex=True)

In [67]:
interim_lf.variable.unique()

array(['interim_scr2', 'interim_scr3', 'interim_scr4', 'interim_scr5',
       'interim_scr6'], dtype=object)

#### Pivot interim_lf to wide dataset and ouput to CSV

In [68]:
interim_out = interim_lf.reset_index().loc[:, ['Student Id','variable','value']].\
                pivot(index=['Student Id'], columns='variable', values='value').\
                reset_index().copy()

interim_out

variable,Student Id,interim_scr2,interim_scr3,interim_scr4,interim_scr5,interim_scr6
0,1,5.0,0.0,4.5,4.0,2.25
1,2,4.0,3.5,4.5,4.0,1.00
2,3,3.5,3.5,4.5,4.0,0.00
3,4,6.0,4.0,5.0,3.5,2.75
4,5,5.0,4.0,5.0,4.0,2.75
...,...,...,...,...,...,...
110,111,3.0,0.0,0.0,3.0,0.00
111,112,0.0,0.0,0.0,0.0,0.00
112,113,0.0,0.0,0.0,0.0,0.00
113,114,0.0,0.0,0.0,0.0,0.00
114,115,0.0,0.0,0.0,0.0,0.00

#### Rename `Student ID` to match input dataset

In [69]:
interim_out.rename(columns={"Student Id": "sid"}, inplace=True)

In [70]:
interim_df.columns

Index(['Student Id', 'Session 2', 'Session 3', 'Session 4', 'Session 5',
       'Session 6'],
      dtype='object')

In [71]:
interim_out.columns

Index(['sid', 'interim_scr2', 'interim_scr3', 'interim_scr4', 'interim_scr5',
       'interim_scr6'],
      dtype='object', name='variable')

In [72]:
interim_out.to_csv('interim_df.csv', index=False)

### Load the final output data from github repository

In [73]:
final_path = 'https://raw.githubusercontent.com/lisaover/CMPINF2120_project/main/EPM%20Dataset%202/Data/final_grades.csv'

In [74]:
final_init = pd.read_csv(final_path)

In [75]:
final_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Student ID          62 non-null     int64
 1   ES 1.1
(2 points)  62 non-null     float64
 2   ES 1.2
(3 points)  62 non-null     float64
 3   ES 2.1
(2 points)   62 non-null     float64
 4   ES 2.2
(3 points)   62 non-null     float64
 5   ES 3.1
(1 points)   62 non-null     float64
 6   ES 3.2
(2 points)   62 non-null     float64
 7   ES 3.3
(2 points)   62 non-null     float64
 8   ES 3.4
(2 points)   62 non-null     float64
 9   ES 3.5
(3 points)   62 non-null     float64
 10  ES 4.1
(15 points)  62 non-null     float64
 11  ES 4.2
(10 points)  62 non-null     float64
 12  ES 5.1
(2 points)   62 non-null     float64
 13  ES 5.2
(10 points)  62 non-null     float64
 14  ES 5.3
(3 points)   62 non-null     float64
 15  ES 6.1
(25 points)  62 non-null     float64
 16  ES 6.2
(15 points)  62 non-null     float64
 17  TOTAL
(100 points)  62 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 8.8 KB

In [76]:
final_init.isna().sum()

Student ID             0
ES 1.1 \n(2 points)    0
ES 1.2 \n(3 points)    0
ES 2.1\n(2 points)     0
ES 2.2\n(3 points)     0
ES 3.1\n(1 points)     0
ES 3.2\n(2 points)     0
ES 3.3\n(2 points)     0
ES 3.4\n(2 points)     0
ES 3.5\n(3 points)     0
ES 4.1\n(15 points)    0
ES 4.2\n(10 points)    0
ES 5.1\n(2 points)     0
ES 5.2\n(10 points)    0
ES 5.3\n(3 points)     0
ES 6.1\n(25 points)    0
ES 6.2\n(15 points)    0
TOTAL\n(100 points)    0
dtype: int64

In [77]:
final_df = final_init.copy()

#### Melt final dataset and clean up the column names 

Make the exercise (ES #.#) equal the execise variable in the input dataset

In [78]:
final_df.columns

Index(['Student ID', 'ES 1.1 \n(2 points)', 'ES 1.2 \n(3 points)',
       'ES 2.1\n(2 points)', 'ES 2.2\n(3 points)', 'ES 3.1\n(1 points)',
       'ES 3.2\n(2 points)', 'ES 3.3\n(2 points)', 'ES 3.4\n(2 points)',
       'ES 3.5\n(3 points)', 'ES 4.1\n(15 points)', 'ES 4.2\n(10 points)',
       'ES 5.1\n(2 points)', 'ES 5.2\n(10 points)', 'ES 5.3\n(3 points)',
       'ES 6.1\n(25 points)', 'ES 6.2\n(15 points)', 'TOTAL\n(100 points)'],
      dtype='object')

#### Melt final_df and clean up variable names

In [79]:
final_lf = final_df.melt( id_vars=['Student ID'], value_vars=['ES 1.1 \n(2 points)', 'ES 1.2 \n(3 points)',
       'ES 2.1\n(2 points)', 'ES 2.2\n(3 points)', 'ES 3.1\n(1 points)',
       'ES 3.2\n(2 points)', 'ES 3.3\n(2 points)', 'ES 3.4\n(2 points)',
       'ES 3.5\n(3 points)', 'ES 4.1\n(15 points)', 'ES 4.2\n(10 points)',
       'ES 5.1\n(2 points)', 'ES 5.2\n(10 points)', 'ES 5.3\n(3 points)',
       'ES 6.1\n(25 points)', 'ES 6.2\n(15 points)', 'TOTAL\n(100 points)'] ).copy()

In [80]:
final_lf

      Student ID             variable  value
0              1  ES 1.1 \n(2 points)    2.0
1              2  ES 1.1 \n(2 points)    2.0
2              4  ES 1.1 \n(2 points)    2.0
3              5  ES 1.1 \n(2 points)    2.0
4              7  ES 1.1 \n(2 points)    2.0
...          ...                  ...    ...
1049         101  TOTAL\n(100 points)   32.0
1050         102  TOTAL\n(100 points)   31.5
1051         103  TOTAL\n(100 points)   18.5
1052         104  TOTAL\n(100 points)   92.0
1053         106  TOTAL\n(100 points)   71.0

[1054 rows x 3 columns]

In [81]:
final_lf[['question','point_str']] = final_lf.variable.str.split( '\n', expand=True )

In [82]:
final_lf['question'] = final_lf['question'].str.rstrip()

In [83]:
final_lf['question'] = final_lf['question'].str.replace("[S]", "s", regex=True)

In [84]:
final_lf['question'] = final_lf['question'].str.replace("[ ]", "_", regex=True)

In [85]:
final_lf['question'] = final_lf['question'].str.replace("[ .]", "q", regex=True)

In [86]:
final_lf.drop(['variable'], axis=1, inplace=True)

In [87]:
final_lf

      Student ID  value question     point_str
0              1    2.0   Es_1q1    (2 points)
1              2    2.0   Es_1q1    (2 points)
2              4    2.0   Es_1q1    (2 points)
3              5    2.0   Es_1q1    (2 points)
4              7    2.0   Es_1q1    (2 points)
...          ...    ...      ...           ...
1049         101   32.0    TOTAL  (100 points)
1050         102   31.5    TOTAL  (100 points)
1051         103   18.5    TOTAL  (100 points)
1052         104   92.0    TOTAL  (100 points)
1053         106   71.0    TOTAL  (100 points)

[1054 rows x 4 columns]

In [88]:
final_lf['question_points'] = final_lf.point_str.str.extract('(\d+)')

In [89]:
final_lf.drop(['point_str'], axis=1, inplace=True)

In [90]:
final_lf.loc[final_lf["question"] == "TOTAL", "question"] = "final_score"

In [91]:
final_lf

      Student ID  value     question question_points
0              1    2.0       Es_1q1               2
1              2    2.0       Es_1q1               2
2              4    2.0       Es_1q1               2
3              5    2.0       Es_1q1               2
4              7    2.0       Es_1q1               2
...          ...    ...          ...             ...
1049         101   32.0  final_score             100
1050         102   31.5  final_score             100
1051         103   18.5  final_score             100
1052         104   92.0  final_score             100
1053         106   71.0  final_score             100

[1054 rows x 4 columns]

#### Create lookup table for points

In [92]:
pts_final = pd.DataFrame(final_lf[['question','question_points']].\
                          groupby(['question'])['question_points'].\
                          agg(pd.Series.mode)).reset_index()

In [93]:
pts_final

       question question_points
0        Es_1q1               2
1        Es_1q2               3
2        Es_2q1               2
3        Es_2q2               3
4        Es_3q1               1
5        Es_3q2               2
6        Es_3q3               2
7        Es_3q4               2
8        Es_3q5               3
9        Es_4q1              15
10       Es_4q2              10
11       Es_5q1               2
12       Es_5q2              10
13       Es_5q3               3
14       Es_6q1              25
15       Es_6q2              15
16  final_score             100

#### Pivot final_lf to wide dataset and output to CSV

In [94]:
final_lf.drop(['question_points'], axis=1, inplace=True)

In [95]:
final_lf

      Student ID  value     question
0              1    2.0       Es_1q1
1              2    2.0       Es_1q1
2              4    2.0       Es_1q1
3              5    2.0       Es_1q1
4              7    2.0       Es_1q1
...          ...    ...          ...
1049         101   32.0  final_score
1050         102   31.5  final_score
1051         103   18.5  final_score
1052         104   92.0  final_score
1053         106   71.0  final_score

[1054 rows x 3 columns]

In [96]:
final_out = final_lf.reset_index().loc[:, ['Student ID','value','question']].\
                pivot(index=['Student ID'], columns='question', values='value').\
                reset_index()


final_out

question,Student ID,Es_1q1,Es_1q2,Es_2q1,Es_2q2,Es_3q1,Es_3q2,Es_3q3,Es_3q4,Es_3q5,Es_4q1,Es_4q2,Es_5q1,Es_5q2,Es_5q3,Es_6q1,Es_6q2,final_score
0,1,2.0,3.0,1.0,0.5,1.0,2.0,2.0,2.0,3.0,15.0,10.0,2.0,10.0,3.0,25.0,13.0,94.5
1,2,2.0,3.0,2.0,0.5,1.0,2.0,0.0,2.0,3.0,15.0,2.0,0.0,5.0,1.5,5.0,0.0,44.0
2,4,2.0,3.0,1.0,0.5,1.0,2.0,0.0,2.0,0.0,3.0,4.0,0.0,1.5,0.0,5.0,5.0,30.0
3,5,2.0,3.0,2.0,1.5,1.0,2.0,2.0,2.0,3.0,3.0,2.0,1.5,9.0,1.5,2.0,1.0,38.5
4,7,2.0,3.0,1.0,1.5,1.0,2.0,2.0,2.0,3.0,15.0,10.0,1.0,2.5,0.0,20.0,12.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,101,2.0,2.0,1.0,2.0,1.0,2.0,1.5,2.0,2.0,5.0,1.0,0.0,0.0,1.5,4.0,5.0,32.0
58,102,2.0,3.0,1.0,1.5,1.0,0.0,0.0,2.0,3.0,12.0,3.0,0.0,0.0,0.0,2.0,1.0,31.5
59,103,2.0,3.0,1.0,1.5,1.0,2.0,0.0,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,18.5
60,104,2.0,3.0,1.0,1.5,1.0,2.0,2.0,2.0,3.0,15.0,9.0,2.0,8.0,3.0,24.5,13.0,92.0
61,106,2.0,3.0,1.0,1.5,1.0,2.0,2.0,2.0,3.0,7.0,7.5,1.0,1.5,1.5,25.0,10.0,71.0

#### Rename `Student ID` to match input dataset

In [97]:
final_out.rename(columns={"Student ID": "sid"}, inplace=True)

In [98]:
final_out.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sid          62 non-null     int64
 1   Es_1q1       62 non-null     float64
 2   Es_1q2       62 non-null     float64
 3   Es_2q1       62 non-null     float64
 4   Es_2q2       62 non-null     float64
 5   Es_3q1       62 non-null     float64
 6   Es_3q2       62 non-null     float64
 7   Es_3q3       62 non-null     float64
 8   Es_3q4       62 non-null     float64
 9   Es_3q5       62 non-null     float64
 10  Es_4q1       62 non-null     float64
 11  Es_4q2       62 non-null     float64
 12  Es_5q1       62 non-null     float64
 13  Es_5q2       62 non-null     float64
 14  Es_5q3       62 non-null     float64
 15  Es_6q1       62 non-null     float64
 16  Es_6q2       62 non-null     float64
 17  final_score  62 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 8.8 KB

In [99]:
pts_final.to_csv('final_points_lookup.csv', index=False)

In [100]:
final_out.to_csv('final_df.csv', index=False)

#### Create variable lookup datasets

In [101]:
inputs_df2 = inputs_df[['session', 'student_id', 'exercise', 'activity', 
                        'activity_group', 'activity_exercise', 'start_time', 'end_time',
                        'total_ms','idle_time', 'mouse_wheel', 'mouse_wheel_click',
                        'mouse_click_left', 'mouse_click_right', 'mouse_movement', 
                        'keystroke']].copy()

In [102]:
inputs_df2.columns

Index(['session', 'student_id', 'exercise', 'activity', 'activity_group',
       'activity_exercise', 'start_time', 'end_time', 'total_ms', 'idle_time',
       'mouse_wheel', 'mouse_wheel_click', 'mouse_click_left',
       'mouse_click_right', 'mouse_movement', 'keystroke'],
      dtype='object')

In [103]:
inputs_out.columns

Index(['sess', 'sid', 'exer', 'actv', 'actv_grp', 'actv_exer', 'start_dt',
       'end_dt', 'total_ms', 'idle_ms', 'mw', 'mwc', 'mcl', 'mcr', 'mm', 'ks'],
      dtype='object')

In [104]:
inputs_var_lookup = pd.DataFrame({'original_variable' : inputs_df2.columns,
                                  'new_variable' : inputs_out.columns})

In [105]:
inputs_var_lookup.to_csv('inputs_var_lookup.csv', index=False)

In [106]:
interim_df.columns

Index(['Student Id', 'Session 2', 'Session 3', 'Session 4', 'Session 5',
       'Session 6'],
      dtype='object')

In [107]:
interim_out.columns

Index(['sid', 'interim_scr2', 'interim_scr3', 'interim_scr4', 'interim_scr5',
       'interim_scr6'],
      dtype='object', name='variable')

In [108]:
interim_var_lookup = pd.DataFrame({'original_variable' : interim_df.columns,
                                  'new_variable' : interim_out.columns})

In [109]:
interim_var_lookup.to_csv('interim_var_lookup.csv', index=False)

In [110]:
final_df.columns

Index(['Student ID', 'ES 1.1 \n(2 points)', 'ES 1.2 \n(3 points)',
       'ES 2.1\n(2 points)', 'ES 2.2\n(3 points)', 'ES 3.1\n(1 points)',
       'ES 3.2\n(2 points)', 'ES 3.3\n(2 points)', 'ES 3.4\n(2 points)',
       'ES 3.5\n(3 points)', 'ES 4.1\n(15 points)', 'ES 4.2\n(10 points)',
       'ES 5.1\n(2 points)', 'ES 5.2\n(10 points)', 'ES 5.3\n(3 points)',
       'ES 6.1\n(25 points)', 'ES 6.2\n(15 points)', 'TOTAL\n(100 points)'],
      dtype='object')

In [111]:
final_out.columns

Index(['sid', 'Es_1q1', 'Es_1q2', 'Es_2q1', 'Es_2q2', 'Es_3q1', 'Es_3q2',
       'Es_3q3', 'Es_3q4', 'Es_3q5', 'Es_4q1', 'Es_4q2', 'Es_5q1', 'Es_5q2',
       'Es_5q3', 'Es_6q1', 'Es_6q2', 'final_score'],
      dtype='object', name='question')

In [112]:
final_var_lookup = pd.DataFrame({'original_variable' : final_df.columns,
                                  'new_variable' : final_out.columns})

In [113]:
final_var_lookup.to_csv('final_var_lookup.csv', index=False)